/test01/migrations/0001_initial.py
/test01/migrations/__init__.py
/test01/__init__.py
/untitled/__init__.py
/test01/admin.py
/test01/static/img/alogo5.png
/test01/apps.py
/untitled/asgi.py
/test01/static/plugins/bootstrap-3.4.1/css/bootstrap.css
/test01/static/plugins/bootstrap-3.4.1/css/bootstrap.css.map
/test01/static/plugins/bootstrap-3.4.1/js/bootstrap.js
/test01/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css
/test01/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css.map
/test01/static/plugins/bootstrap-3.4.1/js/bootstrap.min.js
/test01/static/plugins/bootstrap-3.4.1/css/bootstrap-theme.css
/test01/static/plugins/bootstrap-3.4.1/css/bootstrap-theme.css.map
/test01/static/plugins/bootstrap-3.4.1/css/bootstrap-theme.min.css
/test01/static/plugins/bootstrap-3.4.1/css/bootstrap-theme.min.css.map
/test01/static/plugins/bootstrap-3.4.1/fonts/glyphicons-halflings-regular.eot
/test01/static/plugins/bootstrap-3.4.1/fonts/glyphicons-halflings-regular.svg
/test01/static/plugins/bootstrap-3.4.1/fonts/glyphicons-halflings-regular.ttf
/test01/static/plugins/bootstrap-3.4.1/fonts/glyphicons-halflings-regular.woff
/test01/static/plugins/bootstrap-3.4.1/fonts/glyphicons-halflings-regular.woff2
/test01/static/js/jquery-3.6.0.min.js
/test01/templates/layout.html
/manage.py
/test01/models.py
/test01/static/plugins/bootstrap-3.4.1/js/npm.js
/test01/templates/pretty_add.html
/test01/templates/pretty_edit.html
/test01/templates/pretty_list.html
/untitled/settings.py
/test01/tests.py
/untitled/urls.py
/test01/views.py
/untitled/wsgi.py
